{
    //"extends": "eslint:recommended",
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2021
    },
    "overrides": [
        {
            "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
            "rules": {
                "@typescript-eslint/no-var-requires": "off"
            }
        }
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "rules": {
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "error",
        "valid-jsdoc": [
            "warn",
            {
                "requireReturn": false,
                "requireReturnDescription": false,
                "preferType": {
                    "String": "string",
                    "Number": "number",
                    "Boolean": "boolean",
                    "Symbol": "symbol",
                    "function": "Function",
                    "object": "Object",
                    "date": "Date",
                    "error": "Error"
                }
            }
        ],
        "accessor-pairs": "warn",
        "complexity": "off",
        "curly": ["error", "multi-or-nest", "consistent"],
        "dot-location": ["error", "property"],
        "dot-notation": "error",
        "eqeqeq": "off",
        "no-empty-function": "warn",
        "no-floating-decimal": "error",
        "no-implied-eval": "error",
        "no-lone-blocks": "error",
        "no-multi-spaces": "warn",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-octal-escape": "error",
        "no-return-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-unused-expressions": "warn",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-escape": "error",
        "no-void": "error",
        "wrap-iife": "error",
        "yoda": "error",
        "no-label-var": "error",
        "no-undef-init": "error",
        "callback-return": "error",
        "handle-callback-err": "error",
        "no-mixed-requires": "error",
        "no-new-require": "error",
        "no-path-concat": "error",
        "array-bracket-spacing": "warn",
        "block-spacing": "warn",
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": false
            }
        ],
        "comma-dangle": "error",
        "comma-spacing": "error",
        "comma-style": "error",
        "computed-property-spacing": "error",
        "consistent-this": "error",
        "eol-last": "error",
        "func-names": "error",
        "func-style": [
            "warn",
            "declaration",
            {
                "allowArrowFunctions": true
            }
        ],
        "key-spacing": "error",
        "keyword-spacing": [
            "error",
            {
                "overrides": {
                    "if": {
                        "after": true
                    },
                    "for": {
                        "after": true
                    },
                    "while": {
                        "after": true
                    },
                    "catch": {
                        "after": true
                    },
                    "switch": {
                        "after": true
                    }
                }
            }
        ],
        "max-depth": ["warn", 5],
        "max-len": ["warn", 400, 2],
        "max-nested-callbacks": [
            "error",
            {
                "max": 4
            }
        ],
        "max-statements-per-line": [
            "error",
            {
                "max": 2
            }
        ],
        // "new-cap": "error",
        "newline-per-chained-call": [
            "error",
            {
                "ignoreChainWithDepth": 6
            }
        ],
        "no-array-constructor": "error",
        "no-bitwise": "warn",
        "no-inline-comments": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 2,
                "maxEOF": 1,
                "maxBOF": 0
            }
        ],
        "no-new-object": "error",
        "no-spaced-func": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "warn",
        "object-curly-newline": "error",
        "object-curly-spacing": ["warn", "always"],
        "operator-assignment": "error",
        "operator-linebreak": ["error", "after"],
        "padded-blocks": [
            "error",
            {
                "classes": "always",
                "blocks": "never",
                "switches": "never"
            }
        ],
        "quote-props": ["error", "as-needed"],
        "semi-spacing": ["error", { "before": false, "after": true }],
        "semi": "warn",
        "no-extra-semi": "warn",
        "space-before-blocks": "error",
        "space-before-function-paren": [
            "warn",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "space-in-parens": "warn",
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "unicode-bom": "error",
        "arrow-body-style": "error",
        "arrow-spacing": "error",
        "no-duplicate-imports": "error",
        "no-useless-computed-key": "error",
        "prefer-arrow-callback": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "rest-spread-spacing": "error",
        "template-curly-spacing": "error",
        "yield-star-spacing": "error"
    }
}
